<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<h1> Welcome to Analyzer. Please enter text below </h1>
<form action='/analyze' method='get'>
    <textarea name = 'content' style='margin: 0px; width: 493px; height: 117px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuation </br>
    <input type="checkbox" name="fullcap"> All Capital Letters </br>
    <input type="checkbox" name="newlineremover"> New Line removed </br>
    <input type="checkbox" name="spaceremover"> Space removed </br>
    <input type="checkbox" name="charcount"> Charcount </br>
    <button type="submit">  Analyze Text </button>
</form>
<body>

</body>
</html>